<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="graverse.id.ico">
    <title>Jam Digital Plus Alarm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      .wib{
        font-size: 18px;
      }
        .day{
            font-size: 20px;
            margin-bottom: -5px;
        }
        .date{
            font-size: 30px;
        }
        .delete{
            margin-left: 25px;
        }
    </style>
</head>
<body>

    <div class="card text-center">
        <div class="card-header">
          Jam Digital With Alarm Set
        </div>
        <div class="card-body">
          <div id="app">
            <div id="clock">
                <p class="day">{{ day }}</p>
                <p class="date">{{ date }}</p>
            </div>
            <h3>{{ time.getHours()  != 12 ? time.getHours() % 12 : 12 }} : {{ ('0' + time.getMinutes()).slice(-2) }} : {{ ('0' + time.getSeconds()).slice(-2) }} {{ time.getHours() >= 12 ? 'PM' : 'AM' }}</h3>
            <p class="wib">Waktu Indonesia Barat</p>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <Button v-on:click="stopAlarm" v-if="alarm_going_off" style="background:rgb(255, 242, 0);color:rgb(198, 0, 0);width:100%;text-align:center;font-size:2em;border-color:rgb(255, 242, 0);">Hentikan</Button>
              </div>
              <div class="col"></div>
            </div>
            <br><br>
            <select id="hour">
              <option>12</option>
              <option v-for="i in 1,11">{{ i }}</option>
            </select> : <select id="minute">
              <option v-for="i in 60">{{ ('0' + (i-1)).slice(-2) }}</option>
            </select>
            <select id="am_pm">
              <option>AM</option>
              <option>PM</option>
            </select>
            <br><br>
            <strong>Catatan : </strong>
            <br>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <input class="form-control" type="text" id="alarm_message" @keyup.enter="saveAlarm" />
                </div>
                <div class="col"></div>
            </div>
            <br>
            <button class="btn btn-primary" v-on:click="saveAlarm">Simpan</button>
            <br><br>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <table>
                      <tr v-for="(alarm, i) in alarms">
                        <td>{{alarm.hour}} : {{ ('0' + (alarm.minute)).slice(-2) }} {{ alarm.am_pm}} --> " {{ alarm.message}} "</td>
                        <td><button class="btn btn-danger delete" v-on:click="deleteAlarm(i)">Delete</button>
                      </tr>
                    </table>
                </div>
                <div class="col"></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          &copy Sedtia Prakoso Budi Tirto Arto
        </div>
      </div>

      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
      <script>
        var clock = new Vue({
              el: '#clock',
              data: {
                  date: '',
                  day: ''
                }
            });
        var week = ['AHAD', 'SENIN', 'SELASA', 'RABU', 'KAMIS', 'JUMAT', 'SABTU'];
            var timerID = setInterval(updateTime, 1000);
            updateTime();
        function updateTime() {
            var cd = new Date();
            clock.day = week[cd.getDay()];
            clock.date = zeroPadding(cd.getDate(), 2) + ' / ' + zeroPadding(cd.getMonth()+1, 2) + ' / ' + zeroPadding(cd.getFullYear(), 4);
        };

        function zeroPadding(num, digit) {
            var zero = '';
            for(var i = 0; i < digit; i++) {
                zero += '0';
            }
            return (zero + num).slice(-digit);
        }
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="Clock.vue"></script>
      
    </body>
    </html>